.container-card {
    margin-top: 70px;

    .basket-item-left {
        .basket-item {
            display: flex;
            gap: 20px;
            align-items: center;
            border-radius: 5px;
            width: 100%;

            .order-card {
                display: flex;
                height: 185px;
                justify-content: space-between;
                align-items: center;
                border: 1px solid rgba(157, 163, 179, 0.5);
                padding: 0 10px;
                gap: 20px;
                min-width: 830px;

                .order-card-left {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .card-left-child {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .image-title {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .order-title {
                                width: 319px;
                                display: flex;
                                flex-direction: column;
                                padding-right: 15px;

                                a {
                                    &:hover {
                                        transition: color .3s ease;
                                        color: #0076ff;
                                    }

                                    margin-bottom: 10px;
                                    line-height: 1.5;
                                }

                                .product-code {
                                    color: rgba(2, 3, 3, .5);
                                }
                            }
                        }

                        .counter-price {
                            display: flex;
                            gap: 20px;

                            .order-counter {
                                form {
                                    .counter {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        gap: 10px;

                                        button {
                                            &:hover {
                                                border-color: red;
                                            }

                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            font-size: 23px;
                                            width: 36px;
                                            height: 36px;
                                            border-radius: 50%;
                                            border: 1px solid gray;
                                            display: flex;
                                            background-color: #fff;
                                            cursor: pointer;
                                            transition: border .5s cubic-bezier(.6, .05, .28, .91);
                                        }
                                    }

                                }
                            }

                            .order-price {
                                .price {
                                    .product-price-cur {
                                        span {
                                            font-size: 20px;
                                            font-weight: 600;
                                            font-family: Arial, Helvetica, sans-serif;
                                        }
                                    }
                                }
                            }
                        }
                    }

                }


                .order-close {
                    button {
                        font-size: 26px;

                    }
                }
            }
        }
    }

    .container-basket {
        display: flex;
        align-items: baseline;
        justify-content: space-around;
        margin: 20px 0;

        .container-basket-map {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .yellow-basket-bottom {
            .yellow-basket {
                background-color: #ffed00;
                border-radius: 2px 2px 0 0;
                flex-direction: column;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 300px;
                height: 300px;

                .yellow-basket-item {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;

                    .paragraph-childe {
                        margin-bottom: 20px;
                        padding-bottom: 15px;
                        border-bottom: solid 1px rgba(2, 3, 3, .16);
                        width: 208px;

                        .paragraph-one {
                            display: flex;
                            margin-bottom: 5px;
                            justify-content: space-between;
                            padding-bottom: 15px;
                        }

                    }

                    .paragraph-three {
                        padding-bottom: 40px;
                        font-size: 20px;
                        line-height: 1;
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 5px;
                        width: 208px;

                    }

                    .button-get {
                        .red-button {
                            transition: opacity .5s cubic-bezier(.6, .05, .28, .91), background-color .5s cubic-bezier(.6, .05, .28, .91);
                            border-radius: 100px;
                            height: 50px;
                            justify-content: center;
                            color: #fff;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 1;
                            padding: 5px 15px;
                            align-items: center;
                            background-color: #ea2427;
                        }
                    }
                }
            }
        }

    }
}



@media only screen and (max-width:768px) {
    .container-card {
        article {
            .container-basket {
                display: flex;
                flex-direction: column;

                .container-basket-map {
                    .basket-item-left {
                        .basket-item {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 768px;

                            .order-card {
                                min-width: 600px;


                                .order-card-left {
                                    display: flex;
                                    align-items: center;
                                    gap: 50px;

                                    .card-left-child {
                                        display: flex;
                                        align-items: center;
                                        gap: 20px;

                                        .image-title {
                                            .order-image {
                                                width: 170px;
                                                padding-right: 15px;
                                            }

                                            .order-title {
                                                width: 272px;
                                            }

                                        }

                                        .counter-price {
                                            display: flex;
                                            flex-direction: row;
                                            align-items: center;
                                            gap: 20px;

                                        }
                                    }

                                }
                            }
                        }

                    }
                }

                .yellow-basket-bottom {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 768px;

                    .yellow-basket {
                        width: 600px;
                        height: 300px;
                        margin-top: 20px;

                        .yellow-basket-item {
                            .paragraph-childe {
                                width: auto;

                                .paragraph-one {
                                    width: 400px;
                                }
                            }

                            .paragraph-three {
                                width: 400px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:420px) {
    #__next {
        width: auto;

        .container-card {

            article {
                .container-basket {
                    display: flex;
                    flex-direction: column;

                    .container-basket-map {
                        .basket-item-left {
                            .basket-item {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 401px;
                                padding-left: 18px;

                                .order-card {
                                    min-width: 410px;
                                    height: 289px;

                                    .order-card-left {
                                        .card-left-child {
                                            display: flex;
                                            flex-direction: column;

                                            .image-title {
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                font-size: 18px;

                                                .order-image {
                                                    width: 140px;
                                                    padding-right: 15px;
                                                }

                                                .order-title {
                                                    width: 206px;
                                                }
                                            }


                                            .counter-price {
                                                display: flex;
                                                flex-direction: row;
                                                align-items: center;
                                                gap: 60px;

                                                .order-counter {
                                                    padding: 15px 0px 15px 20px;
                                                }

                                                .order-price {
                                                    .price {
                                                        .product-price-cur {
                                                            span {
                                                                font-size: 24px;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                }

                            }
                        }

                    }
                }

                .yellow-basket-bottom {
                    width: 420px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .yellow-basket {
                        width: 406px;
                        height: 300px;
                        margin-top: 20px;

                        .yellow-basket-item {
                            .paragraph-childe {

                                .paragraph-one {
                                    width: 368px;
                                }
                            }

                            .paragraph-three {
                                width: 368px;
                            }
                        }
                    }
                }
            }
        }
    }

}