.basket-item-left {
    .basket-item {
        display: flex;
        gap: 20px;
        align-items: center;
        // flex-direction: row;
        border-radius: 5px;
        width: 100%;

        .order-card {
            display: flex;
            height: 185px;
            justify-content: space-between;
            align-items: center;
            border: 1px solid rgba(157, 163, 179, 0.5);
            padding: 0 10px;
            gap: 20px;
            min-width: 830px;

            .order-title {
                width: 319px;
                display: flex;
                flex-direction: column;
                padding-right: 15px;

                a {
                    &:hover {
                        transition: color .3s ease;
                        color: #0076ff;
                    }

                    margin-bottom: 10px;
                    line-height: 1.5;
                }

                .product-code {
                    color: rgba(2, 3, 3, .5);
                }
            }

            .order-counter {

                form {

                    .counter {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;

                        button {
                            &:hover {
                                border-color: red;
                            }

                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 23px;
                            width: 36px;
                            height: 36px;
                            border-radius: 50%;
                            border: 1px solid gray;
                            display: flex;
                            background-color: #fff;
                            cursor: pointer;
                            transition: border .5s cubic-bezier(.6, .05, .28, .91);
                        }

                        // span {}
                    }

                }

            }

            .order-price {
                .price {
                    .product-price-cur {
                        span {
                            font-size: 20px;
                            font-weight: 600;
                            font-family: Arial, Helvetica, sans-serif;
                        }
                    }
                }
            }

            .order-close {
                button {
                    font-size: 26px;

                }
            }
        }
    }
}

.yellow-basket {
    background-color: #ffed00;
    border-radius: 2px 2px 0 0;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;

    .yellow-basket-item {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .paragraph-childe {
            margin-bottom: 20px;
            padding-bottom: 15px;
            border-bottom: solid 1px rgba(2, 3, 3, .16);
            width: 208px;

            .paragraph-one {
                display: flex;
                margin-bottom: 5px;
                justify-content: space-between;
                padding-bottom: 15px;
            }

        }

        .paragraph-three {
            padding-bottom: 40px;
            font-size: 20px;
            line-height: 1;
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
            width: 208px;

        }

        .button-get {
            .red-button {
                transition: opacity .5s cubic-bezier(.6, .05, .28, .91), background-color .5s cubic-bezier(.6, .05, .28, .91);
                border-radius: 100px;
                height: 50px;
                justify-content: center;
                color: #fff;
                font-size: 16px;
                font-weight: 700;
                line-height: 1;
                padding: 5px 15px;
                align-items: center;
                background-color: #ea2427;
            }
        }
    }


}