.new {
    padding: 50px;

    .new-top {
        h2 {
            font-size: 30px;
            margin-bottom: 19px;
        }
    }

    .new-bottom {
        gap: 30px;
        display: flex;

        .container-news-two,
        .container-news-one {
            display: flex;
            align-items: center;
            position: relative;
            height: 300px;
            width: 500px;

            .news-card-link,
            .news-card-link {

                img {
                    &:hover {
                        transform: scale(1.1);
                        transition: transform 0.3s ease-out;
                    }

                    opacity: 0.7;
                }

                ::before {
                    position: absolute;
                    content: '';
                    display: block;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(127, 128, 128, .51) 60%, #020303);
                }

                border-left: 4px solid #ea2427;
                background-repeat: no-repeat;
                box-shadow: 0 3px 0 0 rgb(163 163 163 / 5%);
                height: 300px;
                width: 500px;
            }

            .news-about {
                position: absolute;
                bottom: 20px;
                left: 26px;
                max-width: 340px;
                color: #fff;
                z-index: 10;

                .news {
                    font-weight: 300;
                    display: inline-block;
                    vertical-align: middle;
                    margin-bottom: 20px;
                }

                .about {
                    font-size: 24px;
                    line-height: 1.25;
                    font-weight: 700;
                }
            }

        }
    }
}

@media only screen and (max-width:768px) {
    .new {

        .new-bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .container-news-one {

                .news-about {
                    display: block;
                }

                .news-card-link {
                    display: block;
                }

            }

            .container-news-two {
                display: none;
            }
        }
    }

}

@media only screen and (max-width:420px) {
    .new {
        .new-top {
            margin-bottom: 30px;

            h2 {
                font-size: 29px;
            }
        }

        .new-bottom {
            display: flex;

            .container-news-two,
            .container-news-one {
                height: 300px;
                width: 374px;

                .news-about {
                    display: block;

                }

                .news-about {
                    bottom: 61px;
                }

                .news-card-link {
                    height: 222px;
                }
            }

            .container-news-two {
                display: none;
            }
        }

    }

}